/**
  引入第三方字体库
 */
@font-face {
    font-family: "PingFangSC-Regular";
    src: url('../fonts/PingFang-SC-Regular.otf');
}
@font-face {
    font-family:"PingFangSC-Semibold";
    src: url('../fonts/PingFang-SC-Semibold.ttf');
}
@font-face {
    font-family:"PingFangSC-Medium";
    src: url('../fonts/PingFang-Medium.otf');
}
@font-face {
    font-family:"PingFangSC-Bold";
    src: url('../fonts/PingFang-Bold.ttf');
}
@font-face {
    font-family:"PingFangSC-Light";
    src: url('../fonts/PingFang-Light.ttf');
}
@font-face {
    font-family: "Helvetica";
    src: url('../fonts/Helvetica.ttf');
}
@font-face {
    font-family: "Helvetica-Bold";
    src: url('../fonts/Helvetica-Bold.ttf');
}

/**
 公共样式
 */
body{font-family: "PingFangSC-Regular"}
.mt-30{margin-top:30px;}
.ml-5{margin-left:5px;}
.row{padding-right:0;}
.thumbnail{border:none;padding:0px;}
.thumbnail a.img{overflow:hidden;display:block;width:100%;height:auto;}
.thumbnail img{ transition: all 1s ease 0s;cursor:pointer; }
.thumbnail img:hover{transform: scale(1.08);}
.jt-box{background-color: #ce1621;display: inline-block;height: 32px;width: 10px;margin-left:20px;}
.jt-navigator{margin:30px 0;}
.jt-navigator span.h3{font-size:18px;}
.jt-navigator a{color:#000;}
.jt-nav .h3{letter-spacing: 5px;}
.jt-nav span.h3{font-size:18px;}
/*.container{padding:0;}
.row{margin:0;}*/


/*兼容移动端*/
.navbar{min-height:60px;margin-bottom:0;}
.navbar-toggle{margin-top:15px;margin-bottom:13px;background:none;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background:none;}
.navbar-toggle:hover{background:none;}
.navbar-default .navbar-toggle{border:none;}
.indicators-line > .carousel-indicators{display:block;}
#bignav{box-shadow:0 4px 4px rgba(0,0,0,0.2)}


/*头部导航*/
.navbar-fixed-top{background:#fff;border:none;}
.navbar-jt{position:relative;top:0;left:0;right:0;background: #fff;z-index:100000;border-radius:0px;border:none;}
.navbar-default .navbar-nav > .active > a{color: #ce1621;}
.navbar-default .navbar-nav > .active > a:hover,.navbar-default .navbar-nav > .active > a:focus{color:#ce1621;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color: #ce1621;  background-color: transparent;  }
.navbar-default .navbar-nav > li{font-family: "PingFangSC-Semibold";}
.navbar-default .navbar-nav > li > a {color: #868686;font-size: 14px;width:100%;display:inline-block;text-align:center;}
.navbar-default .navbar-nav > li:last-child > a {border-right:none;}
/*二级导航*/
.child{position:relative;left:0;top:0;background:#eee;color:#ccc;box-shadow:0 2px 2px rgba(0,0,0,0.2);list-style:none;}
.child > li{padding:10px 0;}
.child > li > a{color:#868686;font-size:14px;letter-spacing:3px;display:inline-block;width:100%;text-align:center;}
.child > li.active a{color:#ce1621;}
.nav li ul{height:0px;overflow:hidden;transition: all 0.4s ease 0s;padding:0;}
.nav li:hover ul{height:85px;}
.nav li ul li:hover a{color:#ce1621;}
.arrow-nav-child{position:absolute;top:13px;left:56%;}

/*底部*/
footer{background: #ccc;padding:10px 0;font-size:12px;}
footer ul{margin:2.5px auto;}
footer a{color:#fff;}
footer span.h4{font-size:12px;}

/* 需要在 bootstrap.css 之后调用 */
/* Fuck 15px for iPhone Start */
.container{padding:0;}
.row{margin:0;}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding:0;}
/* Fuck 15px for iPhone Over */