<include file="public/layout" />
<style>
    dd.opt table{
        width: 100%;
    }
    dd.opt tr{
        border: 1px solid #f4f4f4;
        padding: 8px;
    }
    dd.opt tr td{
        border: 1px solid #f4f4f4;
    }
</style>
<script type="text/javascript">
    window.UEDITOR_Admin_URL = "__ROOT__/public/plugins/Ueditor/";
    var URL_upload = "{$URL_upload}";
    var URL_fileUp = "{$URL_fileUp}";
    var URL_scrawlUp = "{$URL_scrawlUp}";
    var URL_getRemoteImage = "{$URL_getRemoteImage}";
    var URL_imageManager = "{$URL_imageManager}";
    var URL_imageUp = "{$URL_imageUp}";
    var URL_getMovie = "{$URL_getMovie}";
    var URL_home = "{$URL_home}";
</script>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.config.js"/>
<load href="__ROOT__/public/plugins/Ueditor/ueditor.all.js"/>
<script src="__ROOT__/public/static/js/layer/laydate/laydate.js"></script>
<style type="text/css">
    html, body {
        overflow: visible;
    }
</style>

<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>活动管理 - 添加与编辑君太活动</h3>
                <h5>网站系统编辑君太活动</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="promotion" action="{:U('Admin/Activity/activity_save')}" method="post">
        <input type="hidden" name="id" value="{$info.act_id}">
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>活动名称</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="act_name" id="name" value="{$info.act_name}" class="input-txt">
                    <p class="notic">活动名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">活动描述</dt>
                <dd class="opt">
                    <textarea class="input-txt" id="post_description" name="act_desc" title="">{$info.act_desc}</textarea>
                    <span class="err"></span>
                    <p class="notic">请用一句话简述活动主题</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>开始时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="start_time" name="start_time" value="{$info.start_time}"  class="input-txt">
                    <p class="notic">活动开始时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>结束时间</label>
                </dt>
                <dd class="opt">
                    <input type="text" id="end_time" name="end_time" value="{$info.end_time}" class="input-txt">
                    <p class="notic">活动结束时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>首页推荐</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="article_recommend1" class="cb-enable <if condition="$info[is_recommend] eq 1">selected</if>">是</label>
                        <label for="article_recommend0" class="cb-disable <if condition="$info[is_recommend] eq 0">selected</if>">否</label>
                        <input id="article_recommend1" name="is_recommend" value="1" type="radio" <if condition="$info[is_recommend] eq 1"> checked="checked"</if>>
                        <input id="article_recommend0" name="is_recommend" value="0" type="radio" <if condition="$info[is_recommend] eq 0"> checked="checked"</if>>
                    </div>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>太潮人页推荐</label>
                </dt>
                <dd class="opt">
                    <div class="onoff">
                        <label for="article_hot1" class="cb-enable <if condition="$info[is_hot] eq 1">selected</if>">是</label>
                        <label for="article_hot0" class="cb-disable <if condition="$info[is_hot] eq 0">selected</if>">否</label>
                        <input id="article_hot1" name="is_hot" value="1" type="radio" <if condition="$info[is_hot] eq 1"> checked="checked"</if>>
                        <input id="article_hot0" name="is_hot" value="0" type="radio" <if condition="$info[is_hot] eq 0"> checked="checked"</if>>
                    </div>
                    <p class="notic"></p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label>活动图片</label>
                </dt>
                <dd class="opt">
                    <div class="input-file-show">
                        <span class="show">
                            <a id="img_a" target="_blank" class="nyroModal" rel="gal" href="{$info.act_img}">
                                <i id="img_i" class="fa fa-picture-o" onmouseover="layer.tips('<img src={$info.act_img}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();"></i>
                            </a>
                        </span>
           	            <span class="type-file-box">
                            <input type="text" id="prom_img" name="act_img" value="{$info.act_img}" class="type-file-text">
                            <input type="button" name="button" id="button1" value="选择上传..." class="type-file-button">
                            <input class="type-file-file" onClick="GetUploadify(1,'','activity','img_call_back')" size="30" hidefocus="true" nc_type="change_site_logo" title="点击前方预览图可查看大图，点击按钮选择文件并提交表单后上传生效">
                        </span>
                    </div>
                    <span class="err"></span>
                    <p class="notic">请上传图片格式文件</p>
                </dd>
            </dl>

            <dl class="row">
                <dt class="tit">
                    <label>活动详情</label>
                </dt>
                <dd class="opt">
                    <textarea class="span12 ckeditor" placeholder="请输入活动介绍" id="post_content" name="act_content" rows="6">{$info.act_content}</textarea>
                    <p class="notic">活动详情</p>
                </dd>
            </dl>
            <div class="bot"><a onclick="adsubmit()" class="ncap-btn-big ncap-btn-green">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    var editor;
    $(function () {
        //具体参数配置在  editor_config.js 中
        var options = {
            zIndex: 999,
            initialFrameWidth: "100%", //初化宽度
            initialFrameHeight: 350, //初化高度
            focus: false, //初始化时，是否让编辑器获得焦点true或false
            maximumWords: 99999, removeFormatAttributes: 'class,style,lang,width,height,align,hspace,valign',//允许的最大字符数 'fullscreen',
            pasteplain: true, autoHeightEnabled: true,
            autotypeset: {
                mergeEmptyline: true,        //合并空行
                removeClass: true,           //去掉冗余的class
                removeEmptyline: false,      //去掉空行
                textAlign: "left",           //段落的排版方式，可以是 left,right,center,justify 去掉这个属性表示不执行排版
                imageBlockLine: 'center',    //图片的浮动方式，独占一行剧中,左右浮动，默认: center,left,right,none 去掉这个属性表示不执行排版
                pasteFilter: false,          //根据规则过滤没事粘贴进来的内容
                clearFontSize: false,        //去掉所有的内嵌字号，使用编辑器默认的字号
                clearFontFamily: false,      //去掉所有的内嵌字体，使用编辑器默认的字体
                removeEmptyNode: false,      //去掉空节点
                removeTagNames: {"font": 1},
                indent: false,               // 行首缩进
                indentValue: '0em'           //行首缩进的大小
            },
            toolbars: [
                ['fullscreen', 'source', '|', 'undo', 'redo','|', 'bold', 'italic', 'underline', 'fontborder',
                    'strikethrough', 'superscript', 'subscript','removeformat', 'formatmatch', 'autotypeset',
                    'blockquote', 'pasteplain', '|', 'forecolor','backcolor', 'insertorderedlist',
                    'insertunorderedlist', 'selectall', 'cleardoc', '|','rowspacingtop', 'rowspacingbottom', 'lineheight', '|',
                    'customstyle', 'paragraph', 'fontfamily', 'fontsize','|', 'directionalityltr', 'directionalityrtl',
                    'indent', '|', 'justifyleft', 'justifycenter','justifyright', 'justifyjustify', '|', 'touppercase',
                    'tolowercase', '|', 'link', 'unlink', 'anchor', '|','imagenone', 'imageleft', 'imageright', 'imagecenter',
                    '|', 'insertimage', 'emotion', 'insertvideo','attachment', 'map', 'gmap', 'insertframe',
                    'insertcode', 'webapp', 'pagebreak', 'template','background', '|', 'horizontal', 'date', 'time',
                    'spechars', 'wordimage', '|','inserttable', 'deletetable','insertparagraphbeforetable', 'insertrow', 'deleterow',
                    'insertcol', 'deletecol', 'mergecells', 'mergeright','mergedown', 'splittocells', 'splittorows',
                    'splittocols', '|', 'print', 'preview', 'searchreplace']
            ]
        };
        editor = new UE.ui.Editor(options);
        editor.render("post_content");

        laydate.skin('molv');
        laydate({
            elem: '#start_time',
            format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
        });
        laydate({
            elem: '#end_time',
            format: 'YYYY-MM-DD', // 分隔符可以任意定义，该例子表示只显示年月
        });

    });
    function adsubmit(){
        if($('#name').val() ==''){
            layer.msg('活动名称不能为空',{icon:2});return false;
        }

        //检查活动开始，结束时间
        var start_time=Date.parse($('#start_time').val());
        var end_time=Date.parse($('#end_time').val());
        if(start_time>=end_time){
            layer.msg('开始时间不得大于结束时间',{icon:2});return false;
        };
        $('#promotion').submit();
    }

    $(document).ready(function(){
        $('#start_time').layDate();
        $('#end_time').layDate();
    })

    function img_call_back(fileurl_tmp)
    {
        $("#prom_img").val(fileurl_tmp);
        $("#img_a").attr('href', fileurl_tmp);
        $("#img_i").attr('onmouseover', "layer.tips('<img src="+fileurl_tmp+">',this,{tips: [1, '#fff']});");
    }
</script>
</body>
</html>