<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="__PUBLIC__/static/css/index.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/static/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/static/css/purebox.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/static/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/static/js/jquery.cookie.js"></script>
    <style>
        .contentWarp_item .section_select .item_comment{
            padding: 83px 0 31px 38px;
        }
        .contentWarp_item .section_select .item {
            padding: 83px 0 38px 38px;
        }
        .contentWarp_item .section_order_select li{
            width: 23%;
        }
    </style>
</head>
<body class="iframe_body">
<div class="warpper">
    <div class="title">管理中心</div>
    <div class="content start_content">
        <div class="contentWarp">
            <div class="contentWarp_item clearfix">
                <div class="section_order_select">
                    <ul>
                        <li>
                            <a  href="{:U('')}">
                                <i class="ice ice_q"></i>
                                <div class="t">太潮志数量</div>
                                <span class="number">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('')}">
                                <i class="ice ice_f"></i>
                                <div class="t">太潮人数量</div>
                                <span class="number">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('')}">
                                <i class="ice ice_y"></i>
                                <div class="t">品牌数量</div>
                                <span class="number">0</span>
                            </a>
                        </li>
                        <li>
                            <a href="{:U('')}">
                                <i class="ice ice_w"></i>
                                <div class="t">活动数量</div>
                                <span class="number">0</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="section section_order_count">
                    <div class="sc_title" style="padding: 26px 0 14px;border-bottom: 1px solid #e4eaec;">
                        <i class="sc_icon"></i>
                        <h3>版本信息</h3>
                    </div>
                    <div class="sc_warp" style="padding-bottom: 30px;">
                        <table cellpadding="0" cellspacing="0" class="system_table">
                            <tbody><tr>
                                <td class="gray_bg">程序版本:</td>
                                <td> {$sys_info.version}</td>
                                <td class="gray_bg">更新时间:</td>
                                <td>2017-07-07</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">程序开发:</td>
                                <td>烟雨江南</td>
                                <td class="gray_bg">版权所有:</td>
                                <td>君太百货</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">Github:</td>
                                <td><a href="http://github.com/dumin199101" target="_blank">烈焰123091</a></td>
                                <td class="gray_bg">个人博客:</td>
                                <td><a href="http://blog.lieyan91.com" target="_blank">烈焰的博文</a></td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="contentWarp">
            <div class="section system_section" style="float: none;width: inherit;">
                <div class="system_section_con">
                    <div class="sc_title" style="padding: 26px 0 14px;border-bottom: 1px solid #e4eaec;">
                        <i class="sc_icon"></i>
                        <h3>系统信息</h3>
                        <!--<span class="stop stop_jia" id="system_section" title="展开详情"></span>-->
                    </div>
                    <div class="sc_warp" id="system_warp" style="display: block;padding-bottom: 30px;">
                        <table cellpadding="0" cellspacing="0" class="system_table">
                            <tbody><tr>
                                <td class="gray_bg">服务器操作系统:</td>
                                <td>{$sys_info.os}</td>
                                <td class="gray_bg">服务器域名/IP:</td>
                                <td>{$sys_info.domain} [ {$sys_info.ip} ]</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">服务器环境:</td>
                                <td>{$sys_info.web_server}</td>
                                <td class="gray_bg">PHP 版本:</td>
                                <td>{$sys_info.phpv}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">Mysql 版本:</td>
                                <td>{$sys_info.mysql_version}</td>
                                <td class="gray_bg">GD 版本:</td>
                                <td>{$sys_info.gdinfo}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">文件上传限制:</td>
                                <td>{$sys_info.fileupload}</td>
                                <td class="gray_bg">最大占用内存:</td>
                                <td>{$sys_info.memory_limit}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">最大执行时间:</td>
                                <td>{$sys_info.max_ex_time}</td>
                                <td class="gray_bg">安全模式:</td>
                                <td>{$sys_info.safe_mode}</td>
                            </tr>
                            <tr>
                                <td class="gray_bg">Zlib支持:</td>
                                <td>{$sys_info.zlib}</td>
                                <td class="gray_bg">Curl支持:</td>
                                <td>{$sys_info.curl}</td>
                            </tr>
                            </tbody></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $("*[data-toggle='tooltip']").tooltip({
            position: {
                my: "left top+5",
                at: "left bottom"
            }
        });
    });
</script>
</body>

</html>