
/*区块间距*/
#jt-act-container{margin-bottom:30px;}

/*分区导航*/
.jt-act-more .look-more{position: absolute;right:20px;top:28px;letter-spacing:3px;font-weight:bold;}
.jt-act-more .look-more > .glyphicon{top:3px;margin-left:15px;}
.jt-act-more >a > .look-more {color:#ce1621;}

/*轮播图*/
.carousel-indicators .active {width: 12px;height: 12px;margin: 0;background-color: #ce1621;}
.carousel-indicators li {background-color:#e6e6e6;border:none;}

/*活动轮播*/
.jt-navigator span.h1{font-size:24px;}
.jt-act-more .look-more{font-size:14px;}
.jt-latest-act-list img{margin-bottom:20px;}
.jt-latest-act-list span.h4{color:#333;line-height:1.5;font-size:16px;}
.old-act-date{position:absolute;left:40px;bottom:40px;color:#fff;}
.old-act-title{position:absolute;left:40px;bottom:10px;color:#fff;}
.jt-old-act-list div{margin-bottom:30px;}
