/*分页*/
.loading{text-align: center;font-size: 20px;margin:20px 0}
#pages {display:none;}
.mt-50{margin-top:50px;}

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
    padding:5px 10px;
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    position: absolute;
    cursor: pointer;
    z-index: 4;
    top: 50%;
    transform: translateY(-50%);
    background: #aaa;
    color: #fff;
}

.nbs-flexisel-nav-left {
    left: -20px;
}

.nbs-flexisel-nav-right {
    right: -20px;
}


/*分区导航*/
.jt-tcr-title{padding-left:0;}

/*区块间距*/
#jt-tcr-container{margin-bottom:30px;}


/*轮播图*/
.carousel-indicators .active {width: 12px;height: 12px;margin: 0;background-color: #ce1621;}
.carousel-indicators li {background-color:#e6e6e6;border:none;}

/*活动轮播*/
#jt-activity{margin-bottom:30px;}
.jt-flexisel .flexisel > li > a >div.date{color: #fff;padding:0 30px;position:absolute;bottom:45px;}
.jt-flexisel .flexisel > li > a{color:#fff;}
.jt-flexisel .flexisel > li > a >  h5.act-title{color:#fff;padding:0 30px;font-weight:500;position:absolute;bottom:10px;}

/*太潮人*/
#jt-tcr-container .container-fluid{background:#f2f2f2;}
#jt-tcr-container .thumbnail:hover{border-right:4px solid #ce1621;border-bottom:4px solid #ce1621;}
.jt-tcr-line{width:100%;height:1px;border: solid 1px #e7e7e7;margin:10px 0;}
.jt-tcr-desc{color:#666666;line-height:1.5;padding-right:10px;}
.job{color:#999999;}
.jt-tcr-read{position:relative;}
.jt-tcr-read .glyphicon{position:absolute;top: 4px;right:0px;}
.jt-tcr-read a{color:#ce1621;font-size:14px;display:block;}

